body {
  margin: 0;
  font-family: "Open Sans";
  .container {
    height: 100vh;
    background-color: rgb(0, 217, 255);
    .header {
      background-color: #f8f8f8;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & .container-icons {
        font-size: 20px;
        & .leftt-box {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ff5959;
          height: 60px;
          width: 60px;
        }
        & .rightt-box {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
        }
        & .onee-box {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #c0bebc;
          color: white;
          height: 60px;
          width: 60px;
        }

        & .twoo-box {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
        }

        & .treee-box {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ff5959;
          color: white;
          height: 60px;
          width: 60px;
        }
      }
    }
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      & .container-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: 0;
        margin-bottom: 100px;
        & .title {
          margin-top: 40px;
          margin-bottom: 100px;
        }
      }
      & .container-targets {
        justify-content: flex-start;
        background-color: #f8f8f8;
        margin: 0;
        & .container-pie {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 130px;
          & .pie {
            position: relative;
            bottom: 85px;
          }
        }
        & .container-title-secondary {
          display: flex;
          align-items: center;
          justify-content: center;
          & .title-secondary {
            margin: 0;
            padding: 20px 80px 20px 80px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            border-radius: 2px;
          }
        }
        & .container-targets-main {
          visibility: hidden;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          & .targets {
            /*  & .targets-title {
              font-size: 40px;
              margin: 0;
              position: relative;
              top: 100%;
              bottom: 30px;
              left: 0px;
              font-weight: bold;
              color: black;
              background-color: rgba(255, 255, 255, 0.8);
              width: 300px;
              height: 100%;
              padding: 30px;
            } */
            & .targets-img--cover {
              object-fit: cover;
              object-position: top;
            }
          }
        }
      }
    }
    .footer {
      .services {
        position: static;
        display: flex;
        flex-direction: column;
        margin-top: 100px;

        &-container {
          background-color: #c0bebc;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 80vh;
          & .upper-block {
            display: flex;
            flex-direction: row;
            justify-content: center;
          }

          & .lower-block {
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
          .link-box {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            width: 50%;
            .comodities {
              font-size: 100px;
              &-title {
                font-weight: bold;
                font-size: large;
              }
            }
          }
        }
      }

      .contact {
        display: flex;
        margin-top: 10%;
        margin-bottom: 7%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 60vh;

        &-icons {
          display: flex;
          width: 30vw;
          flex-direction: row;
          justify-content: space-around;
        }

        &-social {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom-style: solid;
          border-color: black;
          .follow {
            &_title {
              font-size: large;
            }
            &_icon {
              color: #ff5959;
              margin-bottom: 10%;
            }
          }
        }

        &-mail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 1%;
          margin-bottom: 1%;
          border-bottom-style: solid;
          border-color: black;
          h2 {
            font-size: large;
          }
          &_form {
            display: flex;
            flex-direction: column;
            &_checkbox-container {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &_policy {
              font-size: 12px;
            }
            &_button {
              background-color: #ff5959;
              color: white;
              margin-bottom: 10%;
              border: none;
              outline: none;
            }
          }
        }

        &_about {
          display: flex;
          margin-top: 5%;
          margin-bottom: 5%;
          flex-direction: column;
          color: #ff5959;
          &_icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: center;
            font-size: large;
            i {
              color: #ff5959;
              font-size: large;
            }
          }
        }
      }

      &_footer {
        background-color: #ff5959;
        color: white;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
      }
      a:link,
      a:visited,
      a:active {
        text-decoration: none;
        color: black;
      }
    }
  }
}
.hovermenu {
  display: none;
}
@media (min-width: 600px) {
  .onee-box {
    visibility: hidden;
  }

  .hovermenu {
    display: flex;
    z-index: 100;
    height: 95px;

    &_red {
      display: flex;
      align-items: flex-end;
      background-color: #ff5959;
      height: 180px;
    }
    &_blue {
      display: flex;
      align-items: flex-end;
      background-color: #6ea1b6;
    }
    &_blue:hover {
      height: 180px;
    }
    &_yellow {
      display: flex;
      align-items: flex-end;
      background-color: #f6b334;
    }
    &_yellow:hover {
      height: 180px;
    }
  }
}
